.table {
    border: 1px black solid;
    margin-bottom: 30px;
}

.headerTable {
    background-color: burlywood;
}
.headerTable th {
    color: darkslateblue;
}

.preloader {
    position: absolute;
    top: 30%;
    left: 45%;
}

.firstName {
    font-size: 18px;
    color: indigo;
}

.lastName {
    font-size: 14px;
    color: brown;
}

.email {
    font-size: 12px;
}

.iconContainer {
    width: 50px;
    height: 50px;
}

.iconContainer img {
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}