.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.users {
  margin-right: 5px;
  margin-left: 5px;
}

.user {
  margin-right: 5px;
  margin-left: 5px;
}

.createUser {
  margin-left: 5px;
  margin-right: 5px;
}