.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.block {
  margin-right: 5px;
  margin-left: 5px;
}

.auth {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}